[Unit]
Description= cron tab script verifier
After=cron.service

[Service]
Type=oneshot
ExecStart=/root/verfi_cron.sh

[Install]
WantedBy=multi-user.target